.shortcode_block {
    border-bottom: 1px solid #000000;
    margin: 10px 0;
    padding: 15px 0;
    overflow: hidden;
}
.shortcode_title {
    font-weight: normal;
    margin: 0 0 20px;
}
.shortcode_title span {
    display: block;
    height: 1px;
    margin: 7px 0 -11px;
    width: 140px;
    background: #4FBFA8;
}
#frame_accordiun a,
#frame_toggle a {
    background: #4FBFA8;
    color: #FFF;
}
/* ======================================================= */
/*                             Tabs                        */
/* ======================================================= */
#tab ul.tabs {
    margin: 0;
	display: inline-block;
	vertical-align:top; 
}

#tab ul li a {
    padding: 8px 10px;
    text-decoration: none;
	display:inline-block;
}
.style1 #tab ul li a.current,
.style1 #tab ul li a:hover {
    background: #000000;
    color: #FFF;
}
.style2.horizontal_tab .tab_groupcontent {
    margin: -2px 0 0;
}
.style3.horizontal_tab .tab_groupcontent{
	 margin: -1px 0 0;
}

.product-cms-tab-block .style5 #tab ul li a {
  	background: rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    margin: 0 0 -1px;
    padding: 4px 16px;
	text-transform:uppercase;
}
.product-cms-tab-block .style5 #tab ul li a.current{
	background-color:#000000;
	border-color:#000000;
	color:#ffffff;
}
.product-cms-tab-block .style5 #tab ul li{   margin: 0 -1px 0 0;}
.product-cms-tab-block .style5.horizontal_tab .tab_groupcontent{
    padding: 20px;
	border:1px solid #000000;
	overflow:hidden;
}
.product-cms-tab-block .style5  table{
	margin:0;
	border: 1px solid #000000;
	width: 100%;
}
.product-cms-tab-block .style5  th{
	background-color: #f9f9f9;
    border-bottom: 1px solid #000000;
}
.product-cms-tab-block .widget .style5 td,.product-cms-tab-block .widget .style5 th{padding:5px;}
.horizontal_tab .tab_groupcontent {
    border: 1px solid #ebebeb;
    clear: both;
    width: 100%;
    padding: 10px;
	box-sizing: border-box;
}
.horizontal_tab #tab ul li {
    margin: 0 3px 0 0;
    list-style: none;
    float: left;  
}
.horizontal_tab.style2 #tab ul li {
    margin: 0 3px 0 0;
}

.horizontal_tab.style2 #tab ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid solid none;
    border-width: 3px 1px medium;
}
.horizontal_tab.style2 #tab ul li a.current,
.horizontal_tab.style2 #tab ul li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: none;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-top: 3px solid #000000;
}

.style3 #tab ul li a {
    background: none;
    border: 1px solid #ebebeb;
}
.vertical_tab ul.tabs {
    float: left;
    width: 25%;
}
.vertical_tab #tab ul li {
    position: relative;
	list-style: none;
}
#content .vertical_tab #tab ul li a {
    display: block;
    line-height: 18px;
    margin-bottom: 2px;
}
.vertical_tab .tab_groupcontent {
    float: left;
    min-height: 120px;
    width: 69%;
    border: 1px solid #ebebeb;
    padding: 10px;
	margin:0;
	box-sizing: border-box;
}
.vertical_tab.style2 #tab ul li {
    margin: 0 -1px 0 0;
}
.vertical_tab.style2 #tab ul li a {
	border-width: 1px 1px 1px 3px;
	border-style:solid;
	border-color:#ebebeb;
}
.vertical_tab.style2 #tab ul li a.current,
.vertical_tab.style2 #tab ul li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: none;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 3px solid #000000;
}
.vertical_tab.style3 #tab ul li {
    margin: 0 -1px 0 0;
}
/* ======================================================= */
/*                      Testimonail                        */
/* ======================================================= */

.testimonials-container{clear:both;}
.testimonials-container {
    clear: both;
	background-color:#f2f2f2;
    padding: 20px;
    width: auto;		
}
.testimonials-container .testimonial-carousel{
	border:2px solid #fcfbf6;
	padding: 39px;
	width: auto;
	text-align:center;
}
.single-testimonial .testimonial-content:before {
	font-family:'FontAwesome';
	content:'\f075';
	font-size:18px;
	margin: 0 0 10px;
	display:block;
	color: #BBBBBB;
}
.single-testimonial .testimonial-bottom {
    margin: 0 0 0 50px;
	background: url("../../images/megnor/testi.png") no-repeat scroll 0 0 transparent;
	height:25px;
	width:19px;
	position:relative;
	top:-1px;
}
.single-testimonial .testimonial-top {   
    position: relative;
}
.single-testimonial .testimonial-title {
    font-weight: normal;
}
.single-testimonial .testimonial-email {
    display: inline-block;
}

.single-testimonial .testimonial-title {
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.single-testimonial .testimonial-title:hover{
	color:#000000;
}
.single-testimonial  .testimonial-designation {
    margin: 5px 0 6px;
}

.single-testimonial .testimonial-designation a {
	color:#000000;	
	display:inline-block;
}
.single-testimonial .testimonial-designation a:hover{
	color:#000000;
}
.single-testimonial blockquote {
    display: block; 
    position: relative;
    background-image: none;
}
.single-testimonial .testimonial-content {
    margin: 0 0 20px;
}
.single-testimonial blockquote q {   
	position:relative;	
}

.single-testimonial blockquote span {
    float: right;
    color: #333;
    font-size: 17px;
    font-style: normal;
    margin: 12px 0 0 0;
}
.single-testimonial .testmonial-image {  
 	display: inline-block;
    margin: 0 0 15px;
    vertical-align: top;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-khtml-border-radius:50%;
	-moz-border-radius:50%;
    overflow: hidden;
}
.single-testimonial .testmonial-image i {
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    text-align: center;
}

.single-testimonial .testmonial-image img {  
	background:#FCFCFC;	
}
.single-testimonial .testmonial-text {
	display:inline-block;
	vertical-align:top;
}
.testimonial-grid .item {
    float: left;
    position: relative;
}
.testimonial-grid .first-item {
    clear: both;
}
.testimonials-container .item {
    margin: 0;
}
.testimonial-cols-2 .item {
    width: 50%;
}
.testimonial-cols-3 .item {
    width: 33.33%;
}
.testimonial-cols-4 .item {
    width: 25%;
}
.testimonial-cols-5 .item {
    width: 20%;
}
.testimonial-cols-6 .item {
    width: 16%;
}
/* ======================================================= */
/*                      Divider and Space                  */
/* ======================================================= */
.divider_content p {
    margin: 0; 
}
.divider_content_inner .title {
    margin: 8px 0 10px 0;
}
.divider_element .dashed {
    border-top: 1px dashed #000000;
}
.divider_element .dotted {
    border-top: 1px dotted #000000;
}
.divider_element .double {
    border-top: 2px double #000000;
}
.divider_element .groove {
    border-top: 1px groove #000000;
}
.divider_element .solid {
    border-top: 1px solid #000000;
}
/* ======================================================= */
/*                         Call to action                  */
/* ======================================================= */
#callout_div .shortcode_inner {
    border-bottom: 1px solid #000000;
    margin: 15px 0;
    overflow: hidden;
    padding: 15px 0;
}
#callout_div .callout_boxed {
    background: none repeat scroll 0 0 #ECF0F1;
    border: 1px solid #000000;
    text-align: center;
}
#callout_div .callout_border {
    border: 1px solid #000000;
    text-align: center;
}
#callout_div .title {
    font-size: 15px;
    color: #41A62A;
}
#callout_div .calloutarea {
    margin: 0 0 15px 0;
}
.shortcode_content {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
}
#callout_div a {
    text-decoration: none;
}
.calloutarea_block {
    display: table;
    margin: 0 auto;
}
.calloutarea_button a.button {
    display: inline-block;
}
.dark .calloutarea_block, .dark .calloutarea_block .title {
    color: #FFFFFF;
}
.light .calloutarea_block, .light .calloutarea_block .title {
    color: #000000;
}
.dark .calloutarea_block a.button {
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.light .calloutarea_block a.button {
    background-color: #9EA7AE;
}
.left .calloutarea_block_content, .left .calloutarea_button {
    display: table-cell;
	vertical-align: middle;
}
.left  .calloutarea_block_content {
    width: 70%;
}
.left .calloutarea_button {
	width: 30%;
	text-align: right;
	vertical-align: top;
}
.left .calloutarea_block_content h3, .left .calloutarea_button h3{
	margin: 0;
}
.calloutarea.left, .calloutarea.right {
    float: none;  width: 100%;
}
.calloutarea_button {
    vertical-align: middle;
}
.center .calloutarea_button {
    margin: 30px 0 10px;
}
.calloutarea.center h2 {
    font-size: 40px;
    line-height: 50px;
}
.calloutarea.center .shortcode_content {
    font-size: 18px;
}
.calloutarea.left h2 {
    font-size: 25px;
    line-height: 35px;
}
.wpb_row.parallex-image, .parallex-image {
    background-attachment: fixed !important;
}
/* ======================================================= */
/*                         Highlight Text                  */
/* ======================================================= */
.hightlight_text {
    font-style: italic;
    padding: 3px 5px;
    margin: 0 6px;
}
.highlight_light {
    background-color: #F6F6F6;
    color: #000000;
}
.highlight_dark {
    background-color: #000000;
    color: #FFFFFF;
}
/* ======================================================= */
/*                         Dropcap                         */
/* ======================================================= */
.dropcap {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
    overflow: hidden;
    text-align: center;
    width: 30px;
}
.dropcap.no-background {
    font-weight: 600;
    height: auto;
    line-height: 28px;
    margin: 0;
    vertical-align: bottom;
    width: auto;
}
/* ======================================================= */
/*                         Benefits                        */
/* ======================================================= */
.benefitsarea_inner {
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    border-right: 1px solid #000000;
}
.benefitsarea_inner .benefit_bkg {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: block;
    height: 94px;
    margin: 50px auto 0;
    width: 135px;
}
.column3 .benifit_image {
    margin: 0 0 10px 0;
}
.column3 .benefitsarea_inner {
    text-align: center;
}
.column3 .benefitsarea_inner img {
    width: 55px;
    height: 55px;
}
.benifit_name {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
}
.benefitsarea_inner p {
    margin: 0 0 10px 0;
    text-align: justify;
}
.benefitsarea_bottom .viewmore a {
    text-decoration: none;
}
.column2 .benefitsarea_inner {
    margin: 10px 0;
}
.column2 .benifit_image {
    float: left;
    width: 20%;
}
.column2 .benefitsarea_bottom {
    float: right;
    width: 76%;
}
/* ======================================================= */
/*                         Buttons                         */
/* ======================================================= */
.button_content_inner a {
    text-decoration: none !important;
    display: inline-block;
}
.button_content_inner a:hover {
}

.button i{color:#fff;}
.button:hover i{color:#ffffff;}

.button.button_mini i {font-size: 12px;}
.button.button_small i { font-size: 14px;}
.button.button_medium i { font-size: 16px;}
.button.button_big i { font-size: 18px;}

.button.button_mini { padding: 8px 16px; text-transform:capitalize;}
.button.button_small {padding: 8px 20px; }
.button.button_medium { padding: 12px 24px;}
.button.button_big{ padding: 14px 28px;}

.button_content_inner .button_big i { font-size: 22px;}
.button.left i { margin-right: 10px;}
.button.right i { margin-left: 10px;}
.feedback .button_content_inner .button_medium {  margin:0 5px;}
/* ======================================================= */
/*                         Progress Bar                    */
/* ======================================================= */
.tmpmela_progresbar.style-4 {
    margin-bottom: 5px;
}
.progressbar-container {
    clear: both;
}
.tmpmela_progresbar {
    margin-bottom: 10px;
}
.tmpmela_progress_label {
    padding: 0 5px;
}
.progress_detail {
  font-size: 13px;
    left: 10px;
    line-height: 24px;
    position: absolute;
    top: 0px;
    z-index: 959;
}
.tmpmela_progresbar.style-4 .progress_detail {
    position: relative;
    left: 0;
	color:#333;
}
.active_progresbar {
    height: 25px;
    position: relative;
    margin: 0;
    background: #ecede8;
}
.active_progresbar span.value {
    display: inline-block;
    height: 100%;  
    position: relative;
}
.style-1 .active_progresbar span.value {
    background-color: #000000;
}
.style-2 .active_progresbar > span.value:after, 
.style-3 .active_progresbar > span.value:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 50px 50px;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, 
	color-stop(.25, rgba(255, 255, 255, .2)), 
	color-stop(.25, transparent), color-stop(.5, transparent), 
	color-stop(.5, rgba(255, 255, 255, .2)), 
	color-stop(.75, rgba(255, 255, 255, .2)), 
	color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(	-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, 	rgba(255, 255, 255, .2) 50%, 	rgba(255, 255, 255, .2) 75%, 	transparent 75%, 	transparent	);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.style-3 .active_progresbar > span.value:after, 
.style-3 .active_progresbar > span.value:after {
    background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
}
/* ======================================================= */
/*                        Social Blog                      */
/* ======================================================= */
.tmpmela_socialicon {
    float: left;
    margin: 0 5px;
}
.tmpmela_socialicon a {
    border: 1px solid #4FBFA8;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    color: #4FBFA8;
    display: inline-block;
    text-align: center;
    transition-duration: 500ms; -webkit-transition-duration: 500ms;  -o-transition-duration: 500ms; -moz-transition-duration: 500ms;
    width: 25px;
    padding: 3px;
}
.tmpmela_socialicon a:hover {
    border: 1px solid #000000;
    color: #000000;
}
/* ======================================================= */
/*                        Message Boxs                     */
/* ======================================================= */
.messagebox_inner {
    font-size: 13px;
    line-height: 24px;
    padding: 15px 15px 15px 70px;
}
.messagebox_inner.success {
    background: url("../../images/megnor/shortcode/success.png") no-repeat scroll 15px 3px #EEF4D4;
    border: 1px solid #8FAD3D;
    color: #596C26;
}
.messagebox_inner.error {
    background: url("../../images/megnor/shortcode/error.png") no-repeat scroll 15px 3px #EFCEC9;
    border: 1px solid #AE3F2E;
    color: #FF3300;
}
.messagebox_inner.warning {
    background: url("../../images/megnor/shortcode/warning.png") no-repeat scroll 15px 3px #FFEA97;
    border: 1px solid #E2B500;
    color: #003333;
}
.messagebox_inner.message {
    background: url("../../images/megnor/shortcode/message.png") no-repeat scroll 15px 3px #C6D8F0;
    border: 1px solid #4282CC;
    color: #3399FF;
}
/* ======================================================= */
/*                        Conatct Form                     */
/* ======================================================= */
.row100 {
    margin: 0 0 23px;
    float: left;
    width: 100%;
}
.col30 {
    float: left;
    width: 20%;
}
.col70 {
    float: left;
    width: 90%;
    position: relative;
}
.col30 label {
    color: #7A7A7A;
    font-size: 14px;
}
.col70 input {
    color: #000;
    width: 100%;
    padding: 12px 25px 12px 20px;
	float:left;
	background:#f9f9f9;
}
.col70 textarea {background:#f9f9f9;}
.col70 i {
    color: #D0D0D0;
    right:10px;
    position: absolute;
    top: 16px;
	margin:0;
}
.col70::-moz-placeholder {color:#23272a;}
.button .col70 {float: right; width:100%;}

.col70 .button {
    float: right;
	background: none repeat scroll 0 0 #424570;
    color: #ffffff;
    font-weight: 600;
    line-height: 18px;
    padding: 5px 12px;
    text-transform: uppercase;
    width: auto;
}

.col70 em {
    margin: 0 5px;
}
.banner_content {
    text-align: center;
}

.contactform_right .col70 {
    width: 100%;
}
.contactform_left {float:left; width:35%;margin:0 15px 0 0;}
.contactform_right {overflow:hidden;}
/* ======================================================= */
/*                        Counterchart                     */
/* ======================================================= */
.tmchat_wrapper {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    margin: 10px 0 20px 0;
    text-align: center;
}
.tmchat_wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 130px;
    z-index: 2;
    font-size: 30px;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
.angular {
    margin-top: 100px;
}
.angular .chart {
    margin-top: 0;
}
.tmpmela_piechart.column1,
.tmpmela_piechart.column2,
.tmpmela_piechart.column3,
.tmpmela_piechart.column4 {
    text-align: center;
}
.tmpmela_piechart .chart_title{ text-align:center;}
.chart_bottom .chart_code { margin: 5px 0;}
.chart_bottom .chart_desc {margin: 12px 5px 8px 5px;}
.tmpmela_piechart { margin-bottom: 30px;}
/* ======================================================= */
/*                        Fancy Media                      */
/* ======================================================= */
.tmpmela_fancymediacontent {
    width: 270px;
    border: 1px solid #DDD;
}
.tmpmela_fancymediacontent.frame {
    background: none repeat scroll 0 0 #F1F1F1;
    padding: 10px;
    text-align: center;
}
.tmpmela_fancymediacontent.left {
    float: left;
    margin: 0 20px 10px 0;
}
.tmpmela_fancymediacontent.right {
    float: right;
    margin: 0 0 10px 20px;
}
.tmpmela_fancymediacontent .media_bottom {
    font-size: 14px;
    margin: 10px 0 0px 0;
}
.noframe .media_bottom {
    font-size: 14px;
    margin: 10px 10px 0px;
}
/* ======================================================= */
/*                        Pricing Table                    */
/* ======================================================= */
.pricing_wrapper { padding:20px;}
.pricing_wrapper .pricing_wrapper_inner {
    border: 1px solid #EBEAEA;
    border-bottom: 3px solid #EBEAEA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #FFF;
}
.pricing_heading {
    background: none repeat scroll 0 0 #f5f5f5;
    color: #000000;
    font-size: 16px;
    font-weight:600;
    margin: 0 0 10px;
    padding: 35px 15px;
    text-align: center;
    text-transform: uppercase;
}
.pricing_top {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 74px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -34px;
    width: 74px;
	 color: #000000;
	 padding: 5px;
}
.pricing_bottom {
    text-align: center;
    margin: -20px 0 0 0;
}
.pricing_top .pricing_per {
    font-size: 14px;
    margin: 14px 0 5px 0;
    line-height: 17px;
}
.pricing_top .pricing_price {
    font-size: 18px;
    font-weight: 600;
}
.pricing_wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.pricing_wrapper ul li {
    padding: 3px 0;
    margin: 0 0 5px;
}
.pricing_button {
    height: 30px;
    margin: 25px 0 35px;
}
.pricing_button	a#pricing-btn {
    background: #000;
    color: #fff;
    display: inline-block;
	padding: 8px 24px;
}
.pricing_wrapper:hover .pricing_heading,
.pricing_wrapper .selected .pricing_heading,
.pricing_wrapper:hover .pricing_top,
.pricing_wrapper .selected .pricing_top,
.pricing_wrapper:hover .pricing_button a#pricing-btn,
.pricing_wrapper .selected .pricing_button a#pricing-btn{
    background: #E7040F;
    color: #fff;
}

.pricing_wrapper:hover .pricing_wrapper_inner,
.pricing_wrapper:hover .pricing_button a#pricing-btn,.pricing_wrapper .selected .pricing_button a#pricing-btn{ border-color: #E7040F;}

.pricing_wrapper .selected {
    margin-top: -10px;
}
.pricing_wrapper .selected .pricing_heading {
    padding:42px 15px;
}
.nopricing_heading {
    height: 20px;
    padding: 35px 15px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
/* ======================================================= */
/*            Non-semantic helper classes                  */
/* ======================================================= */
.button_content_inner.center,
.center {
    text-align: center;
	position:relative;
	float:none;
}
.hidden {
    display: none;
    visibility: hidden;
}
.invisible {
    visibility: hidden;
}
.alignright,
.right {
    float: right;
	text-align:right;
}
.alignleft,
.left {
    display: inline-block;
	float:left;
	vertical-align:top;
}
.divider_content {
    clear: both;
	margin:0 0 50px;
}
.alignnone,
.none {
    float: none;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
}
.clearboth {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}

/* ======================================================= */
/*                         Table Style                     */
/* ======================================================= */
.table_style {
    border: 1px solid #000000;
    margin-bottom: 20px;
    width: 100%;
}
.table_style table {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #fff;
    width: 100%;
    padding: 0;
    margin: 0;
}
.table_style th {
    text-align: center;
    padding: 12px;
    font-weight: normal;
    font-size: 14px;
    color: #555;
    background-color: #f5f5f5;
}
.table_style tbody {
    background: #F9F9F9;
}
.table_style td {
    text-align: center;
    padding: 10px;
    color: #666;
    border-top: 1px dashed #fff;
}
.table_style tbody tr:hover td {
    color: #333;
    background: #fff;
    border-top: 1px solid #fff;
}
.table_style tfoot {
    background-color: #f3f3f3;
}
.table_style tfoot td {
    padding: 8px;
}
/* ======================================================= */
/*                         Message Boxes                   */
/* ======================================================= */
.message {
    line-height: 24px;
    font-weight: normal;
    padding: 15px 15px 15px 80px;
    position: relative;
    margin: 10px 0 30px;
}
.success-message {
    background: url("../../images/megnor/shortcode/success.png") no-repeat scroll 15px 3px #EEF4D4;
    border: 1px solid #8FAD3D;
}
.error-message {
    background: url("../../images/megnor/shortcode/error.png") no-repeat scroll 15px 3px #EFCEC9;
    border: 1px solid #AE3F2E;
}
.message-message {
    background: url("../../images/megnor/shortcode/message.png") no-repeat scroll 15px 3px #C6D8F0;
    border: 1px solid #4282CC;
}
.warning-message {
    background: url("../../images/megnor/shortcode/warning.png") no-repeat scroll 15px 3px #FFEA97;
    border: 1px solid #E2B500;
}
.flickr_badge_image {
    display: inline-block;
    margin-right: 10px;
}
.flickr_badge_image img {
    border: 3px solid #ebebeb;
    height: 100px;
    width: 100px;
}
.flickr_badge_image:hover img {
    border-color: #CCCCCC;
}
/* ======================================================= */
/*                   Accordion and Toggles                 */
/* ======================================================= */
.toogle_div, .accordion .acc, .tour li {
    position: relative;
}
.widget .single_accordion p, .widget .single_toggle p {
    margin: 0;
}
.toogle_div p, .accordion p {
    margin: 0;
}
.accordion span.icon:after,
.toogle_div span.icon:after {
    content: "\f067";
    font-family: FontAwesome;
    left: 12px;
    position: absolute;
	font-size: 10px;
}
.accordion a.current span.icon:after,
.toogle_div a.current span.icon:after {
    content: "\f068";
    font-family: FontAwesome;
    left: 12px;
    position: absolute;
}
.accordion_image {
    width: 110px;
    float: left;
}
.accordion,.toggle { width: 96%; clear:both;}
.accordion .accordion-title,
.toggle .accordion-title {
    position: relative;
}
/* accordion style5 */
.accordion.style5 .single_accordion,
.toggle.style5 .single_accordion {  
	border-top: 1px solid #ebebeb;
    padding: 3px 0;
}
.accordion.style5 .single_accordion a,
.toggle.style5 .single_accordion a
 {
  margin:0;
 }
.accordion.style5 .accordion-title,
.toggle.style5 .toggle-title {
    padding: 8px 10px 8px 30px;
	background: #434571;
	color:#FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	
}
.accordion.style5 .tab_content,
.toggle.style5 .tab_content {
    padding: 15px;
	
	font-size: 14px;
}
/* accordion style1 */

.accordion.style1 .accordion-title,
.toggle.style1 .toggle-title {
    border: 1px solid #ebebeb;
    padding: 10px 10px 10px 30px;
}
.accordion.style1 .tab_content,
.toggle.style1 .tab_content {
   
}
/* accordion style2 */
.accordion.style2 .single_accordion,
.toggle.style2 .single_toggle {
    border: 1px solid #ebebeb;
	margin:0 0 10px;
}
.accordion.style2 .accordion-title,
.toggle.style2 .toggle-title {
    padding:10px 10px 10px 30px;
}
.accordion.style2 .tog,
.toggle.style2 .tog {
    margin: 0;
}
.accordion.style2 .tab_content,
.toggle.style2 .tab_content {
    padding: 0 10px 10px;
}
/* accordion style3 */
.accordion.style3 .accordion-title,
.toggle.style3 .toggle-title {
    border: 1px solid #f5f5f5;
    padding: 10px 30px 10px 10px;
    background-color: #f5f5f5;
}
.accordion.style3 .tab_content,
.toggle.style3 .tab_content {

}
.accordion.style3 span.icon:after,
.accordion.style4 span.icon:after,
.accordion.style3 a.current span.icon:after,
.accordion.style4 a.current span.icon:after,
.toggle.style3 span.icon:after,
.toggle.style4 span.icon:after,
.toggle.style3 a.current span.icon:after,
.toggle.style4 a.current span.icon:after {
    right: 10px;
    left: auto;
}
/* accordion style4 */
.accordion.style4 .single_accordion,
.toggle.style4 .single_toggle {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
	margin:0 0 10px;
}
.accordion.style4 .accordion-title,
.toggle.style4 .toggle-title {
    padding: 10px 30px 10px 10px;
}
.accordion.style4 .tab_content,
.toggle.style4 .tab_content {
    padding: 0 10px 10px;
}
.accordion.style4 .tog,
.toggle.style4 .tog {
    margin: 0;
}


.toogle_div .tog, .accordion .tog, .tour li a {  
    display: block;
    margin: 0 0 10px;
    position: relative;
    text-decoration: none;
}
.tour li a {
    padding: 10px 0 10px 35px;
}

.header-middle .tab_content {
    border-bottom: none;
}
.toogle_div .tab_content, .accordion .tab_content {
    display: none;  
    line-height: 22px;
    overflow: hidden;
    padding: 0 30px 15px 10px;
}
.tour_content {
    position: relative;
    margin-bottom: 20px;
}
.tour {
    list-style: none;
    width: 25%;
    float: left;
    margin: 0;
}
.tour_content .tour {
    padding-left: 0;
}
.tour_box {
    display: none;
    float: left;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 75%;
}
.tour_box p {
    padding: 10px;
    margin-bottom: 10px;
}
.regular-text1 {
    position: relative;
}
/* ======================================================= */
/*                          Title                          */
/* ======================================================= */
.shortcode-title {  margin: 0; padding:0 0 15px;  width: 100%;}
.normal-title, .upsells.products > h2, .related.products h2, .cross-sells > h2 {
    color: #000;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 20px 0;
    position: relative;
    vertical-align: top;
    width: auto;
    margin: 0;
	font-weight: 600;
	line-height:40px;
}
.faq-title-border .big-title {
    border: 0;
    padding-top: 0;
}

.wpb_wrapper .title-description {
    text-align: center;
    width: 75%;
	text-transform: capitalize;
    margin: 0 auto !important;
}

.sub-title {
    color: #000;
    padding: 10px 0;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px; margin:0;
}
.tmpmela_about .title,
.faqs-container .small-title,.tmpmela_piechart .chart_title ,.sitemap h2,.address-title.simple-title,.tmpmela_about title{  
color: #000;
font-size: 12px;
padding: 15px 0;
position: relative;
text-transform: uppercase;
margin:0;
font-weight: 600;
}
.small-title {  color: #000000;  font-size: 12px;  font-weight: 600;  text-transform: uppercase; line-height:24px; margin:0; padding:10px 0;}
.big-title {
font-size: 50px;
line-height: 60px;
font-weight: 300;
text-transform: uppercase;
margin: 0;
letter-spacing: 5px;
font-family: 'Josefin Sans', sans-serif;
padding:30px 0;
}
.border-type {
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}
.border-type:after {
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 60px;
    background: none repeat scroll 0 0 #696868;
}
.panel-grid .panel-grid-cell h3.widget-title {
    display: none;
}
/* ======================================================= */
/*                    Shortcode Code                       */
/* ======================================================= */
.code {
    background-color: #f5f5f5;   
    clear: both;
    padding: 15px;
    font-size: 14px;
    margin:8px 0 15px !important;
    line-height: 20px;
	color:#808080;
	overflow-wrap: break-word;
}
/* ======================================================= */
/*                           Services                      */
/* ======================================================= */
.service-content {
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
}
.service .service-text {
     color: #000;
    font-weight: 600;
    text-transform: uppercase; line-height: 26px;
}
.static-text-container {
margin-bottom:20px!important;
}
.txt-button.static-text-container {
width: 90%;
}
.service .service-icon{
	color: #333;
}
.static-text-container .text {
    line-height: 25px;
    display: inline-block;
}
.service {
    text-align: center;
    width: 85%;
    margin:10px auto;
}
.service .service-read-more i.fa{
    font-size: 12px;
    margin-left: 7px;
}
.service.style-2 {
	 width: 94%;
}

.service .style-1 .service-text {
    margin: 15px 0 10px;
}
.service .style-1 .service-icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    transition: all 500ms ease 0s; -webkit-transition: all 500ms ease 0s; -o-transition: all 500ms ease 0s; -moz-transition: all 500ms ease 0s;
    height: 60px;
    line-height: 60px;
    position: relative;
    width: 60px;
    margin: 0;
}
.service .style-1 .service-icon.fa-mobile-phone {
    font-size: 30px;
}
.service .style-1 .service-icon.no-background {
    font-size: 40px;
}

.service .style-2 .icon {
    float: none;
    margin: 0 10px 0 0;
	display: inline-block;
vertical-align: top;
}
.service .style-2 .service-text{	display: inline-block;
vertical-align: top; font-size:14px;}

.style-2 .service-desc {
    overflow: hidden;
	clear:both;

}
.service .service-content.style-2,
.service .style-3 .service-top {   
}
.service .style-2 .service-icon,
.service .style-3 .service-icon {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    display: inline-block;
	vertical-align:top;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    position: relative;
    text-align: center;
     transition: all 500ms ease 0s; -webkit-transition: all 500ms ease 0s; -o-transition: all 500ms ease 0s; -moz-transition: all 500ms ease 0s;
    width: 24px;
}

.service .style-3 .service-icon.no-background {
    font-size: 25px;
}
.service .style-2 .service-content,
.service .style-3 .service-text {
    
    vertical-align: top; 
}
.service .style-2  .description{   
    margin-top: 10px;
}
.service .style-3 .service-top .icon{
	margin:0 0 10px;
}
.service .style-3 .service-top {
    margin-bottom: 10px;
	display: inline-block;
}
.service .style-3 .service-content {
    text-align: left;
    clear: both;
}
.service .style-4 .service-text {   
    line-height: 30px;   
}
.home-cms-block .service .service-icon {
    color: #434571;
    font-size: 90px;       
    margin: 0;   
}
.home-cms-block .service .icon{
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
    float: left;
    padding: 15px;
	margin:0 15px 0 0;
}
.home-cms-block .service .service-content{overflow:hidden;text-align:left; padding: 8px 0 0;}
.home-cms-block .service .icon .fa{
	font-size:25px;
	margin:0
}
.home-cms-block .service .service-text {
    color: #2270b2;   
    font-size: 18px;
    font-weight:600;
    text-transform: uppercase;
	 margin: 0 0 5px;
}

.home-cms-block .service .description{
	margin:0;
}

.home-cms-block .service {
    background: #f5f5f5 ;
	border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
    margin: 0;
    padding: 20px 30px;
	overflow:hidden;
}
.home-cms-block .title1{color:#D00A2D;}
.home-cms-block .one_third_inner{margin:0 auto !important;}
.home-parallax-service .service:hover .service-icon{
	line-height:30px;
}
/* ======================================================= */
/*                         Blockquote                      */
/* ======================================================= */
blockquote {  
    line-height: 30px;
    margin: 10px;
    position: relative;
    width: auto;
	text-align:left;
}
.entry-content  blockquote{
   position:relative;
     padding: 0 10px 0 80px;
    border-right: 4px solid #000000;
}
.entry-content .custom-testimonial-inner blockquote:before{ background:none;}
.entry-content blockquote:before {

    background: url("../../images/megnor/quote.png") no-repeat scroll 0 0 transparent;
    height: 52px;
    width: 65px;
    top: 0;
    left: 0;
    position: absolute;
    content: "";

}
.entry-content .testimonial-content blockquote { background:none; padding:0!important; border:none; text-align:center;}

blockquote cite,
blockquote small,
blockquote cite a,
blockquote small a {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}
blockquote strong,
blockquote b {
    font-weight: 400;
}
/* ======================================================= */
/*                        Brand Logo                       */
/* ======================================================= */
.brand_main .product-block{
	position: relative;
	text-align:center;	
	margin:5px 15px;
	display:inline-block;
	}
.item.brand_main{ text-align:center;}

.brand_main .product-block img {max-width:100%; 
	transition: all 0.3s ease 0s;
	-webkit-transition:  all 0.3s ease 0s;
	-moz-transition:  all 0.3s ease 0s;
	-ms-transition:  all 0.3s ease 0s;
	-o-transition:  all 0.3s ease 0s;
	opacity: 0.3;-webkit-opacity: 0.3;-o-opacity: 0.3;-ms-opacity: 0.3;
}
.brand_main:hover .product-block img {
	 	opacity:1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity:1;
}
.brand-grid .brand_main .product-block {
    margin: 20px 25px;
}
.address-description, .address-label, .address-text {    
    text-transform: capitalize;
	line-height: 26px;
}
 .address-text{ padding:10px; box-sizing:border-box;}
.address-container {
    clear: both;
}

.address-text .icon {
    padding: 10px 0;
	text-align:center;
}
.address-text .content {
   text-align:center;
}
.address-container {
    clear: both;
    margin: 0px;
    overflow: hidden;
}
.address-text {   
    display:block;
}
.address-text-inner {
    margin: 0;
    overflow: hidden;
}
.address-text.third {margin-right:0;}
.address-text .fa {font-size:40px; color:#000000;width: 40px; margin:0;}
.address-label {
 color: #000;
font-weight:600;
font-size: 14px;
}
.address-text .content p 
{
	margin-bottom:0;
	font-size:13px;
	text-align: inherit;
}

/* ==========================================================================
Custom Testimonial Start
========================================================================== */
.custom-testimonial {
    text-align: center;
}
.custom-testimonial-inner:before {
background-image: url("../../images/megnor/quote.png");
background-color: transparent;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
height: 52px;
width: 65px;
content: "";
display: block;
margin:auto;
padding:10px 0;
}

.primary-sidebar .custom-testimonial .testmonial-image { margin: 28px 0 0;}
.primary-sidebar  .custom-testimonial .testimonial-content {   margin: 20px auto;  }
.custom-testimonial .testimonial-content {   margin: 20px auto;  width: 72%;}
.custom-testimonial .testimonial-title a {
    text-transform: uppercase;
    font-weight: 600;
    color: #e7040f;
	font-size:14px;
}
.custom-testimonial .testimonial-designation {
margin: 0 0 20px;
color: #aaa;
}
.testmonial-text {
    display: inline-block;
    vertical-align: top;
	position: relative;
}
.primary-sidebar .custom-testimonial .read-more { margin: 28px 0 38px;}
.custom-testimonial .read-more a {
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.09);
    color: #000000;
    font-size: 12px;
    font-weight:600;
    padding: 10px 20px;
    text-transform: uppercase;
}
.custom-testimonial .read-more a:hover{border:1px solid #000000; color:#fff; background:#000; }

#secondary .custom-testimonial .product-block { margin:0;}
#secondary .testimonial-carousel.owl-theme .owl-buttons div{ top:-50px;}
#secondary .custom-testimonial .testimonial-content { width:100%;}
#secondary .owl-theme .owl-buttons div.owl-prev { right: 26px; left:auto;}
#secondary .owl-theme .owl-buttons div.owl-next { right: 0px; left:auto;}
#secondary .owl-theme .owl-buttons div { background: #ffffff none repeat scroll 0 0; border-color: #cccccc;  color: #cccccc;  height: 20px;  line-height: 18px;  opacity: 1;  top: -34px; width: 20px;}
#secondary .owl-theme .owl-buttons div:hover{color:#fff; background:#000000; border-color:#000000;}
#secondary .owl-theme .owl-buttons div:before{ font-size:16px;}
#secondary .owl-pagination{  display:none;}
/************* Sidebar Blog *************/
#secondary .blog-posts-content .post-title a, #secondary .single-portfolio .portfolio-title a{ font-size: 16px; line-height:24px;}
#secondary .post-content-inner{ padding:0;}
#secondary .post-title,#secondary .single-portfolio .portfolio-title{ margin:5px 0;}
#secondary .post-description { padding: 4px 0;}
#secondary .blog-posts-content .day{  display: inline-block;}
#secondary .blog-posts-content .day span{ border:none; font-size:14px; line-height:inherit; margin:0; padding:0;}
#secondary .blog-posts-content .post-date{ width:auto; height:auto; margin: -30px auto 10px; width:146px; border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; -ms-border-radius: 50px; padding:4px;}
#secondary .blog-posts-content, .portfolio-container{ margin:0;}
#secondary .blog-posts-content .container .container-inner,#secondary .portfolio-main .single-portfolio{ margin:0;}

/* ==========================================================================
Custom Testimonial End
========================================================================== */


/* ==========================================================================
Blogpost style 1nd Start
========================================================================== */ 


/* ==========================================================================
Parallax service style 3rd Start
========================================================================== */ 

.service-style3 .service.style-3{
	margin:0 15px 20px;
	width:auto;
}
.parallax-service-content.style-3 .service-text, .parallax-service-content.style-3 .description {
    color: #000000;
}
.parallax-service-content.style-3 .service-text{
	font-weight:600;
	margin: 0 0 5px;
}
.parallax-service-content.style-3 {
    text-align: center;
	position:relative;
}
.parallax-service .service.style-3{
	margin:0 15px;
}
.parallax-service-content.style-3 .service-desc {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    padding: 60px 10px 20px;
}
.parallax-service-content.style-3 .icon {
    background: #f9f9f9 ;
    border: 1px solid #ebebeb;
    border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    height: 80px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -40px;
    width: 80px;
}
.service .parallax-service-content.style-3 .service-icon {
    color: #707173;
    font-size: 30px;
    line-height: 80px;
}
.parallax-service-content.style-3 .icon:before{border:none;}
.parallax-service-content.style-3:hover .icon{
	background:#000000;
	border:1px solid #000000;
	
	
transition: all 500ms ease;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
}
.parallax-service-content.style-3:hover .icon .service-icon{
	color:#ffffff;
}
/* ==========================================================================
Parallax service style 3rd End
========================================================================== */ 


/* ==========================================================================
Single Cms Category Start
========================================================================== */  
.single-category-banner {  
   background:#ffffff;
   text-align:center;
   position:relative;
}

.single-category-banner > a {
    display: block;
}
.hover_block {
	background: rgba(52, 152, 219, 0.5);
	
	left: 0;
	position: absolute;
	top: 30px;
	left:30px;
	bottom:30px;
	right:30px;
	
	transform: scale(0.1);
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform:scale(0.1);
	-o-transform: scale(0.1);	
	
	opacity:0;
	-webkit-opacity: 0;
	-moz-opacity:0;
	-ms-opacity: 0;
	-o-opacity: 0;	
	
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.single-category-banner:hover .hover_block{
			
	opacity:1;
	-webkit-opacity: 1;
	-moz-opacity:1;
	-ms-opacity: 1;
	-o-opacity: 1;
	
	transform: scale(1);	
	-webkit-transform: scale(1);	
	-moz-transform: scale(1);	
	-ms-transform: scale(1);	
	-o-transform: scale(1);		
	
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.single-category-banner.single-cat1 { 
	padding: 8px 0 8px 6px;
}
.single-category-banner.single-cat2 {
	padding: 0 0 8px 6px;
}
.single-category-banner.single-cat3 {   
	padding: 8px 0;
}
.single-category-banner.single-cat4 { 
	padding: 0 0 8px; 
}
.single-category-banner.single-cat5 {
	padding: 8px 6px 8px 0;
}
.single-category-banner.single-cat6 {
	padding: 0 6px 8px 0;
}
.cms-category .inner-container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: 0 0 2px 1px rgb(221, 221, 221);
	-moz-box-shadow: 0 0 2px 1px rgb(221, 221, 221);
	-webkit-box-shadow:0 0 2px 1px rgb(221, 221, 221);
    overflow: hidden;
}

.single-category-banner .category-title {
    bottom: 50px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    left: 60px;
    position: absolute;
    z-index: 5;
}
.single-category-banner .category-title:before{
   	border-top: 1px solid #000000;
    content: "";
    position: absolute;
    top: -10px;
    width: 30px;
}
/* ==========================================================================
Single Cms Category End
========================================================================== */  

.tmpmela_about_inner.image-left .about_image {
    text-align: left;
}
.tmpmela_about_inner.image-right .about_image {
    text-align: right;
}

/*********************Custom Action*****************************/

.customaction_title1{
 color: #ffffff;
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
    text-transform: capitalize;
    vertical-align: middle;
}
.dash {
    background: #000000 none repeat scroll 0 0;
    display: inline-block;
    height: 1px;
    vertical-align: baseline;
    width: 32px;
}
.customaction_title2 {
    color: #000000;  
    display: inline-block;
    font-size: 25px;
	line-height:25px;
    margin: 0 20px;
    vertical-align: middle;
}
.customaction.center .calloutarea_button{margin:0; display:inline-block;}
.customaction .calloutarea_button a{
 border: medium none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    text-transform: uppercase;
}
.portfolio-filter{ margin:0 -2px;}
.portfolio-filter h3{ display:none;font-size: 14px; color:#fff; font-weight:600;  transform: scale(0);transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s;}
.portfolio-filter .single-portfolio:hover h3{  transform: scale(1);}
.portfolio-filter-container  .portfolio-container{ margin:0;}
.portfolio-filter-container .options li a { border:1px solid #ebebeb; color:#000000; margin:2px 4px; padding:6px 18px; text-transform:capitalize;
	border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	-moz-border-radius:0;
	box-shadow:2px 2px 4px rgba(0, 0, 0, 0.09);
	-moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.09);}
.portfolio-filter-container .options li a:active,.portfolio-filter-container .options li a.selected,.portfolio-filter-container .options li a:hover{ background: #000000; border-color: #000000; color: #fff;}
.portfolio-filter-container .item{ margin:0;}
.portfolio-filter-container .portfolio-cols-1 .item{ width: 100%;}
.portfolio-filter-container .portfolio-cols-2 .item{ width: 50%;}
.portfolio-filter-container .portfolio-cols-3 .item{ width: 33.33%;}
.portfolio-filter-container .portfolio-cols-4 .item{ width: 25%;}
.portfolio-filter-container .portfolio-cols-5 .item{ width: 20%;}
.portfolio-filter-container .portfolio-cols-6 .item{ width: 16.66%;}

/********** brand list *****************/
.type-brand{ margin:0 0 60px;}
.brand-name{font-size: 22px; font-weight: 600; line-height: 30px; padding:10px 0;}
.single-brand { text-align: center;}
.single-brand .entry-thumbnail{
	display: inline-block;
	float: none;
	margin: 0;
	vertical-align: top;
	width: auto;
}
.brands { margin:0 -10px;}
.brands ul li{
vertical-align: top;
display:inline-block;
list-style: none outside none;
box-sizing: border-box;
padding:0 10px 20px;
text-align:center; float:left;}
.brands.list  .brand-inner{ background-color:#fff; padding: 10px;}
.brands.list li:hover .brand-inner{ box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);}
.brands li h3.title{padding:15px; margin:0;}
.brands li h3.title,.brands li mark.count{ font-size:14px; transition: all 300ms ease 0s; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s; background:none;}
.brands li:hover h3.title,.brands li:hover mark.count{ color:#000000; transition: all 300ms ease 0s;  -webkit-transition: all 300ms ease 0s;  -o-transition: all 300ms ease 0s;  -ms-transition: all 300ms ease 0s;}
.brands li:hover img{ opacity:0.8; -webkit-opacity:0.8;  -ms-opacity:0.8; -o-opacity:0.8;transition: all 300ms ease 0s; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s;}
.brands li img{opacity:1; -webkit-opacity:1;  -ms-opacity:1; -o-opacity:1; transition: all 0.3s ease 0s;  -webkit-transition: all 0.3s ease 0s;  -o-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s;}
.brands .columns-1 li{ width: 100%;}
.brands .columns-2 li{ width: 50%;}
.brands .columns-3 li{ width: 33.33%;}
.brands .columns-4 li{ width: 25%;}
.brands .columns-5 li{ width: 20%;}
.brands .columns-6 li{ width: 16.66%;	}
.brand-list img{ max-width:100%; height:auto;}
/******************* widgets-brand *************/
.primary-sidebar .brands ul li{ padding:0;}
.primary-sidebar .brands li .brand-inner{  border:2px solid #ebebeb; margin:1px;}
.widgets-brand ul li.brand-static-wrapper{  clear:both; padding: 25px 0;  text-align: center!important; display:block!important; width:100%;}
.brand-static-wrapper .text1{ color: #22283e; font-size: 24px; font-weight: 800; text-transform: uppercase;}
.brand-static-wrapper .text2{ color: #000000; font-size: 16px;  margin: 3px 0 5px;}
.primary-sidebar .brand-static-wrapper .button a { background: #ffffff; border: 2px solid #000000; color: #000000; display: inline-block;  font-size: 12px;  font-weight: 600; padding: 6px 32px; text-transform: uppercase;}
.primary-sidebar .brand-static-wrapper .button a:hover{background: #000000; border: 2px solid #000000; color: #ffffff;}
.not-found h1{ margin-top:0; color:#000;}
/****************** countbox ****************/
.product-all{padding:5px 0 10px;}
.count-down{ width:100%; position:relative; padding:8px 0 10px; font-size: 12px; clear:both;}
.countbox .timebox{  margin:0 3px 0 0;}
.countbox .timebox:last-child{  margin:0;}
.countbox .timebox{border:1px solid #ebebeb; color:#000; padding:5px 2px; display:inline-block; text-align:center; line-height:20px;  width:23.5%; box-sizing: border-box;}
.countbox strong{ display:block; font-size: 14px; font-weight:600;}
.price { width: 100%;font-family:'Poppins', sans-serif;}
.entry-summary .count-down{ width:50%; }